@import url(./__form/popup__form.css);
@import url(./__title/popup__title.css);
@import url(./__user-name/popup__user-name.css);
@import url(./__user-career/popup__user-career.css);
@import url(./__save-button/popup__save-button.css);
@import url(./__close-button/popup__close-button.css);

@import url(./_opened/popup_opened.css);
@import url(./_closed/popup_closed.css);

.popup {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
