.popup__user-name {
  margin: 0 0 17px;
  padding: 13px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__user-name, .popup__user-name:active, .popup__user-name:focus {
  outline: none;
}
