.form__text {
  margin: 0 0 15px;
  padding: 13px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.form__text::placeholder {
  color: #c4c4c4;
}

.form__text, .form__text:active, .form__text:focus {
  outline: none;
}
