@import url(./__image/photo-card__image.css);
@import url(./__caption/photo-card__caption.css);
@import url(./__title/photo-card__title.css);
@import url(./__like-button/photo-card__like-button.css);

.photo-card {
  margin: 0;
  border-radius: 10px;
  width: 282px;
  overflow: hidden;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}
