.popup__save-button {
  padding: 14px;
  border: none;
  border-radius: 2px;

  background-color: #000;

  font-size: 18px;
  line-height: 22px;
  color: #fff;

  transition: background-color 0.2s ease;
}

.popup__save-button, .popup__save-button:active, .popup__save-button:focus {
  outline: none;
}

.popup__save-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
